<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Degaray\Openpay\Api\Data\CardInterface"
                type="Degaray\Openpay\Model\Data\Card" />
    <preference for="Degaray\Openpay\Api\CardRepositoryInterface"
                type="Degaray\Openpay\Model\Card\CardRepository" />
    <type name="Magento\Customer\Model\Customer">
        <plugin name="degaray_openpay_populate_customer_cards"
                type="Degaray\Openpay\Model\Plugin\Card\PopulateCustomerCards" />
    </type>
    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="degaray_openpay_save_customer_cards"
                type="Degaray\Openpay\Model\Plugin\Card\SaveCustomerCards" />
    </type>
</config>
