<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="openpay" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Openpay</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="merchantId" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ID de comercio</label>
                </field>
                <field id="apiKey" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Llave privada</label>
                </field>
                <field id="publicKey" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Llave pública</label>
                </field>
                <field id="sandbox" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Modo pruebas (Sandbox)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="chargeMinAmount" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Cargo a Tarjeta Mínimo</label>
                </field>
                <field id="paymentLeyend" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Leyenda del Pago</label>
                </field>
                <field id="useOrderId" translate="label" type="label" sortOrder="16" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use OrderId in OpenPay</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="verificationCode" translate="label" type="label" sortOrder="16" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Código de verificación para url de notificaciones</label>
                    <comment>Código de verificación que Openpay envia para comprobar la url de entrega de notificaiones</comment>
                </field>
            </group>
        </section>
    </system>
</config>